<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet World</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css" as="style">
    <script src="js/javascript.js" defer></script>

</head>
<body>
    <object>
        <div class="obj1">
            <div></div>
            <div class="nav_centar">
                <div><a href="">SVE PROMOCIJE ></a></div>
            </div>
            <div class="nav_right">
                <a href=""> <img style="width: 25px; height: 25px;" src="../images/products/person-circle2.svg" alt="profile" title="Prijava"></a>
                <a href=""> <img style="width: 25px; height: 25px;" src="../images/products/favorites.svg" alt="profile" title="Favoriti"></a>
                <a href=""> <img style="width: 25px; height: 25px; border-right: none;" src="../images/products/shopping-cart-svgrepo-com.svg" alt="cart" title="Pregled košarica"></a>
            </div>
        </div>

        <div class="obj2">
            <div class="header_left">
                <a target="_parent" href="../index.html"><img class="logo" src="../images/products/pet_world_logo1.png" alt="logo" title="Pet World"></a>
            </div>
            <div class="header_center">
                <form>
                    <input type="text" placeholder="Pretraži.." style="padding-left:8px;">
                    <button><img style="width: 15px; height: 15px;" src="../images/products/search.svg" alt="pretraga" title="Pretraži"></button>
                </form>
            </div>
            <div class="header_right">
                <div><a  target="_parent" href="../index.html">NASLOVNA</a></div>
                <div><a  target="_parent" href="../products.html">PROIZVODI</a></div>
                <div><a  target="_parent" href="../about.html">O NAMA</a></div>
                <div><a  target="_parent" href="../contact.html">KONTAKT</a></div>
             </div>
        </div>
    </object>
</body>
</html>